body{
    background-image: url(salad.jpg);
    background-size: cover;
}
h1{
    text-align: center;
    font-family:'Courier';
    font-size: 70px;
    color:white;
    width: 100%;
    font-style: italic;
}
nav{
    color: white;
    margin-left: 80%;
}

nav a{
    color:white;
    font-weight: bold;
    font-style:italic;
    font-size: 30px;
}
img{
    height: 350px;
    width: 400px;
    margin-left: 170px;
    border-color: black;
}
h2{
    color: yellow;
    font-style:italic;
    font-size:"750px"
}
table{
    text-align:center;
    width: 500px;
    height: 70px;
    background-color: aqua;
}
    

